.App{
    font-family: 'source_sans_prosemibold', sans-serif;
}
.uzun{
    max-width: 1600px !important;
}
.homeSlider{
    margin-top: 50px;
    margin-bottom: 70px;
}
.homeSlider img{
    height: 150px;
    object-fit: contain;
}
.loading{
    margin: 223px 0 229px 0px;
}
